// main: ../style.less

.header {
    width: 100%;
    padding: 3rem 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10001;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: @scarletGum;
}

.header__logo {
    color: inherit;
    font-family: 'Gilroy Bold';
    font-size: 2.7rem;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav-link {
    color: inherit;
    font-family: 'Gilroy Bold';
    font-size: 1.8rem;
    margin-left: 120px;
}

.header__tel-link {
    color: inherit;
    font-family: 'Gilroy Bold';
    font-size: 2.4rem;
}